# Binaries
*.exe
*.out
*.dll
*.so

# Go vendor
/vendor/

# Environment files
.env

# IDE stuff
.vscode/
.idea/

# macOS Finder settings
.DS_Store
**/.DS_Store

# Output of `go build`
/bin/
/build/
/Shop_Service/target/

#Certificate
cert.pem
.DS_Store
Shop_Service/src/main/resources/application.properties
init/full_dump.sql